header{
    background-color: #A2360E;
    padding: 20px;
    border-radius: 10px 10px; 
    border: 2px solid saddlebrown;
    position: relative;
}

body{
    background-image: url("../images/purty_wood_@2X.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1{
    width: 50%;
    font-family: 'Amatic SC', cursive;
}
ul{
    list-style-type: none;
    position:absolute;
    top:31px;
    right:10px;
    }

li {
    float: right;
    padding: 10px;    
    border-left: 1px solid #bbb;
}

li:last-child {
    border-left: none;
}

a{
    text-decoration: none;
    color: black;
}

.portrait{
    float: left;
    height:200px;
    width: 300px;
    padding-right: 5px;
}
.current{
    background-color: saddlebrown;
}

.content{
    display: block;
    margin: 150px;
    padding: 20px 50px 130px 50px;
    background-color: #A2360E;
    border-radius: 10px 10px; 
    border: 2px solid saddlebrown;
    height: 200px;
}

.button{
    border-radius: 4px;
}

textarea{
    height:100px;
    width:200px;
}

.projects{
    position: relative;
    float: left;
    padding-right: 30px;
}

#description1{
    position: absolute;
    color: whitesmoke;
    display: block;
    align-items: center;
    background-color: saddlebrown;
    right: 10px;
    left: 0px;
    top: 60px;
    bottom: 10px;
    width: 150px;
    height: 50px;
    text-align: center;
}

#description2{
    position: absolute;
    color: whitesmoke;
    display: block;
    background-color: saddlebrown;
    right: 10px;
    left: 0px;
    top: 60px;
    bottom: 10px;
    width: 150px;
    height: 50px;
    text-align: center;
}

#description3{
    position: absolute;
    color: whitesmoke;
    display: block;
    background-color: saddlebrown;
    right: 100px;
    left: 0px;
    top: 60px;
    bottom: 10px;
    width: 150px;
    height: 50px;
    text-align: center;
}

#description4{
    position: absolute;
    color: whitesmoke;
    display: block;
    background-color: saddlebrown;
    right: 10px;
    left: 0px;
    top: 60px;
    bottom: 10px;
    width: 150px;
    height: 50px;
    text-align: center;
}

#description5{
    position: absolute;
    color: whitesmoke;
    display: block;
    background-color: saddlebrown;
    right: 10px;
    left: 0px;
    top: 60px;
    bottom: 10px;
    width: 150px;
    height: 50px;
    text-align: center;
}

#description6{
    position: absolute;
    color: whitesmoke;
    display: block;
    background-color: saddlebrown;
    right: 10px;
    left: 0px;
    top: 60px;
    bottom: 10px;
    width: 150px;
    height: 50px;
    text-align: center;
}

a:hover {
    color: red;