header{
    background-color: #A2360E;
    padding: 10px;
    border-radius: 10px 10px; 
    border: 2px solid saddlebrown;
    position: relative;
}

body{
    background-image: url("../images/purty_wood_@2X.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1{
    width: 100%;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

h2,form{
    text-align: center;
}
ul{
    list-style-type: none;
    position:absolute;
    top:31px;
    right:10px;
    }

li {
    
    padding: 5px;    
    border-left: 1px solid #bbb;
}

li:last-child {
    border-left: none;
}

a{
    text-decoration: none;
    color: black;
}

.portrait{
    float: left;
    width: 100%;
    padding-right: 5px;
}

/* .content{
    display: block;
    float: left;
    display: grid;
    width: 100%;
    margin-top: 20px;
    padding: 20px 0px;
     background-color: ;
    border-radius: 10px 10px; 
    border: 2px solid saddlebrown;
    overflow: auto;
} */

.content .projects {
    float: left;
    width: 100%;
    padding: 30px;
    margin: 0 40px 40px 40 px;
    background: #A2360E;
    border: 1px solid ;
  }

.button{
    border-radius: 4px;
}

/* textarea{
    height:100px;
    width:200px; 
} */

 .projects{
    position: relative;}
/*    display: block;
    background-color: saddlebrown;
    clear: both;
    margin-left: 25%;
    width: 50%
} */



#description1{
    position: absolute;
    color: whitesmoke;
    display: block;
    align-items: center;
    background-color: saddlebrown;
    right: 10px;
    left: 0px;
    top: 60px;
    bottom: 10px;
    width: 150px;
    height: 50px;
    text-align: center;
}

#description2{
    position: absolute;
    color: whitesmoke;
    display: block;
    background-color: saddlebrown;
    right: 10px;
    left: 0px;
    top: 60px;
    bottom: 10px;
    width: 150px;
    height: 50px;
    text-align: center;
}

#description3{
    position: absolute;
    color: whitesmoke;
    display: block;
    background-color: saddlebrown;
    right: 100px;
    left: 0px;
    top: 60px;
    bottom: 10px;
    width: 150px;
    height: 50px;
    text-align: center;
}

#description4{
    position: absolute;
    color: whitesmoke;
    display: block;
    background-color: saddlebrown;
    right: 10px;
    left: 0px;
    top: 60px;
    bottom: 10px;
    width: 150px;
    height: 50px;
    text-align: center;
}

#description5{
    position: absolute;
    color: whitesmoke;
    display: block;
    background-color: saddlebrown;
    right: 10px;
    left: 0px;
    top: 60px;
    bottom: 10px;
    width: 150px;
    height: 50px;
    text-align: center;
}

#description6{
    position: absolute;
    color: whitesmoke;
    display: block;
    background-color: saddlebrown;
    right: 10px;
    left: 0px;
    top: 60px;
    bottom: 10px;
    width: 150px;
    height: 50px;
    text-align: center;
}

a:hover {
    color: red;}

.selected {
    display: none;
}

/* .container-fluid{
    background-color: saddlebrown;
} */

.projects {
    position: relative;
    float: left;
    width: 200px;
    margin: 20px 0 25px;
    overflow: auto;
  }